<div class="main_slider">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>Spring / Summer Collection 2023</h6>
          <h1>Get up to 30% Off New Arrivals</h1>
          <form id="imageForm" enctype="multipart/form-data">
            <label for="image" class="custom-file-upload">
              <input type="file" id="image" name="image" accept="image/*" required>
              Choose  image<i class="fa-solid fa-camera"></i>
            </label>
            <br>
            <button class="btn mySearsh" type="button" (click)="uploadImage()">Searsh Your Image</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
